<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <%- include('partials/head.html'); %>
</head>
<body>
    <%- include('partials/navigation.html'); %>
    

    <div class="container p-5" >
        <div class="col-md-4 offset-md-4">
            <div class="card animated flipInY">
                <div class="card-header bg-dark text-white text-center">
                    <h3>Registro</h3>
                </div>
                <div class="card-body">
                    <form action="/usuarios" method="post" target="" onsubmit="agregarRegistro()">
                        <div class="form-group">
                            <input type="text" class="form-control" id="dato_nombre_usuario" onchange="validar_nombre_usuario(value)" placeholder="Usuario">
                        </div>
                        <div class="form-group">
                            <span class="input-group-text"></span>
                            <input type="text" class="form-control" id="dato_edad_usuario"  onchange="validar_edad_usuario(value)" placeholder="Edad">
                        </div>
                        <div class="form-group">
                            <span class="input-group-text"></span>
                            <input type="password" class="form-control" id="dato_contrasena"  onchange="validar_contrasena(value)" placeholder="Contraseña">
                        </div>
                        <div class="form-group text-center">
                            <span class="input-group-text"></span>
                            <span class="input-group-text"></span>
                            <input class="btn btn-primary btn-center" type="submit">
                            </input>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer.html'); %>

     <script type="text/javascript" src="./js/validaciones.js"></script>
</body>
</html>